@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9556 0.0057 84.5665);
  --foreground: oklch(0.2864 0.0104 48.3368);
  --card: oklch(1.0000 0 0);
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.5297 0.1836 23.3393);  
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7799 0.1497 79.9478);
  --secondary-foreground: var(--foreground);
  --muted: oklch(0.9401 0.0103 67.7002);
  --muted-foreground: oklch(0.4712 0 0);
  --accent: oklch(0.7007 0.1402 79.7427);
  --accent-foreground: var(--foreground);
  --destructive: var(--primary);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8794 0.0095 62.5703);
  --input: oklch(0.9401 0.0103 67.7002);
  --ring: var(--primary);
  --chart-1: var(--primary);
  --chart-2: var(--secondary);
  --chart-3: oklch(0.6008 0.1003 79.6337);
  --chart-4: oklch(0.3600 0.0512 21.6806);
  --chart-5: var(--foreground);
  --sidebar: oklch(0.9211 0.0097 72.6571);
  --sidebar-foreground: oklch(0.2786 0.0097 39.3309);
  --sidebar-primary: oklch(0.7799 0.1497 79.9478);
  --sidebar-primary-foreground: oklch(0.2002 0 0);
  --sidebar-accent: oklch(0.7007 0.1402 79.7427);
  --sidebar-accent-foreground: oklch(0.2002 0 0);
  --sidebar-border: oklch(0.8599 0.0099 72.6492);
  --sidebar-ring: oklch(0.7799 0.1497 79.9478);
  --font-sans: 'Source Sans Pro', sans-serif;
  --font-serif: 'Source Serif Pro', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: #8F262F;
  --shadow-2xs: 0px 0.25rem 0.5rem 0rem hsl(354.8571 58.0110% 35.4902% / 0.05);
  --shadow-xs: 0px 0.25rem 0.5rem 0rem hsl(354.8571 58.0110% 35.4902% / 0.05);
  --shadow-sm: 0px 0.25rem 0.5rem 0rem hsl(354.8571 58.0110% 35.4902% / 0.10), 0px 1px 2px -1px hsl(354.8571 58.0110% 35.4902% / 0.10);
  --shadow: 0px 0.25rem 0.5rem 0rem hsl(354.8571 58.0110% 35.4902% / 0.10), 0px 1px 2px -1px hsl(354.8571 58.0110% 35.4902% / 0.10);
  --shadow-md: 0px 0.25rem 0.5rem 0rem hsl(354.8571 58.0110% 35.4902% / 0.10), 0px 2px 4px -1px hsl(354.8571 58.0110% 35.4902% / 0.10);
  --shadow-lg: 0px 0.25rem 0.5rem 0rem hsl(354.8571 58.0110% 35.4902% / 0.10), 0px 4px 6px -1px hsl(354.8571 58.0110% 35.4902% / 0.10);
  --shadow-xl: 0px 0.25rem 0.5rem 0rem hsl(354.8571 58.0110% 35.4902% / 0.10), 0px 8px 10px -1px hsl(354.8571 58.0110% 35.4902% / 0.10);
  --shadow-2xl: 0px 0.25rem 0.5rem 0rem hsl(354.8571 58.0110% 35.4902% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2864 0.0104 48.3368);
  --foreground: oklch(0.9733 0.0070 88.6423);
  --card: oklch(0.2161 0.0061 56.0434);
  --card-foreground: oklch(0.9733 0.0070 88.6423);
  --popover: oklch(0.2161 0.0061 56.0434);
  --popover-foreground: oklch(0.9733 0.0070 88.6423);
  --primary: oklch(0.4376 0.1398 20.5777);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3787 0.0273 73.5261);
  --secondary-foreground: oklch(0.9733 0.0070 88.6423);
  --muted: oklch(0.3299 0.0110 55.9736);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.3787 0.0273 73.5261);
  --accent-foreground: oklch(0.9733 0.0070 88.6423);
  --destructive: oklch(0.4376 0.1398 20.5777);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3787 0.0273 73.5261);
  --input: oklch(0.3299 0.0110 55.9736);
  --ring: oklch(0.4376 0.1398 20.5777);
  --chart-1: oklch(0.4376 0.1398 20.5777);
  --chart-2: oklch(0.8635 0.0363 79.6549);
  --chart-3: oklch(0.7058 0 0);
  --chart-4: oklch(0.4676 0 0);
  --chart-5: oklch(0.9733 0.0070 88.6423);
  --sidebar: oklch(0.4376 0.1398 20.5777);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.7269 0.1137 83.3625);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3787 0.0273 73.5261);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4492 0.0308 66.9053);
  --sidebar-ring: oklch(0.7269 0.1137 83.3625);
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.5;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 0.5rem 0.75rem 0rem hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
